* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif; 
}
header  {
    background-color:#9e77dc;
    opacity: 70%;
    min-height: 35vh;

    display: flex; 
    justify-content: center; 
    align-items:flex-end; 
}

img
{
    width: 150px; 
    height: 200px; 
}

.menu a {
    text-decoration: none; 
    color: #dc64ec;
    background-color: #ffffff; 
    border-radius: 5px; 
    padding: 8px 12px;
   
}
.menu {
    display: flex;
    gap: 15px;
}

.gato {
   align-self: flex-start;
   

    
}

main {
    background-color: #ead7ff;
    min-height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form {
min-height: 20vh;
min-width: 20vh;
padding: 5%;
}
.container {
display:flex ;
padding: 4%;
align-items: center;

}

footer {
    background-color: #f4ecff;
    min-height: 5vh;
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}

button {
    border-color: aliceblue;
    border-width: 14px solid;
    border-radius: 15%;
    background-color: green;
    padding: 12px 24px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: white;
    padding: 8px;
    border-radius: 10px;
   
}
